@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #f09e4c, #f1440a);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.grid__row--1 {
  display: block;
  flex-direction: row;
  width: 98%;
  margin-top: 4rem;
  padding-bottom: 1rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 98%;
  height: 98%;
  margin-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 1px 2px rgba(162, 159, 159, 0.5);
}

/* STYLES FOR BIG CARD */

.footer__cardBig {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.header__cardBig {
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
  margin-left: 1.5rem;
  margin-top: 0;
}

.img__cardBig {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 450px;
  width: 370px;
}

.name__cardBig {
  color: inherit;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 10;
}

.description__cardBig {
  color: #0b0b0b;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
  width: 358px;
}

.link__cardBig {
  background-color: #f44336;
  border-radius: 10px;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  width: 200px;
}

/* STYLES FOR CARD SMALL */
.footer__cardSmall {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.header__cardSmall {
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
  margin-left: 1.5em;
  margin-top: 0;
  width: 100%;
}

.img__cardSmall {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  height: 150px;
  width: 150px;
}

.name__cardSmall {
  color: inherit;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 1.2em;
}

.description__cardSmall {
  color: #c18284;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
  width: auto;
  font-size: 1em;
  color: rgb(24, 23, 23);
}

.link__cardSmall {
  background-color: #f44336;
  border-radius: 10px;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  width: 150px;
}

/* Style for desktop position 1 */
.grid__1 {
  display: flex;
  column-gap: 30px 30px 30px;
}

.grid__cardBig__1 {
  margin: 10px;
  width: calc(100%);
  height: calc(100%);
  background: #ffffff;
  color: #f1440a;
  margin-bottom: 3rem;
}

.grid__cardSmall__1 {
  background: #faf8f8;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100%);
  height: calc(92%);
}

.grid__coleccion--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  width: calc(100%);
  height: calc(100%);
}

.cardSmall__1--1,
.cardSmall__2--1,
.cardSmall__1--2,
.cardSmall__2--2 {
  width: calc(100% - 20px);
}

.cardBig__1--1,
.cardBig__2--1,
.cardBig__1--2,
.cardBig__2--2 {
  width: calc(100% - 20px);
}








