@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #f09e4c, #f1440a);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0.4rem;
  width: 98%;
  height: 600px;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  background: #f1440a;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .grid__1,
  .grid__2,
  .grid__3,
  .grid__4,
  .grid__5 {
    display: flex;
    flex-wrap: wrap;
  }
